.status-bar-container {
    display: flex;
    height: 75px;
    width:1200px;
    width:65%;
    min-width: 800px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 35px;
    gap: 24px;
    background: #52525B;
    border-radius: 12px;
}

#status-items-rest {
    display:flex;
    gap:24px;
}

.status-bar-container > div {
    margin: 0 18px 0 18px;
}