html, body, #root {
  width:100%;
  height:100%;
  margin: 0;
  font-family: 'Segoe UI';
}

:root {
  --header-title-color-product:#FFFFFF;
  --header-title-color-type:#60A5FA;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.clickable {
  cursor: pointer;
}

.disabled {
  opacity:0.5;
}

.size22 {
  font-size: 22px;
}

.size20 {
  font-size: 20px;
}

.size18 {
  font-size: 18px;
}

.size16 {
  font-size: 16px;
}

.gray-text {
  color: #D4D4D8;
}